@charset "UTF-8";

.img-thumbnail{
	
	padding-top: 40px; 
	padding-bottom: 80px; 
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px; 
	heigth: 300px;
	width: 20%; 
	display: inline-block;
	
	}
	
	
	.img-kp{
	
	padding-top: 40px; 
	padding-bottom: 80px; 
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto; 
	heigth: 100%;
	width: 100%; 
	
	}