@charset "UTF-8";

.body-iframe{width: 100%; height: 100%; margin: 0; padding: 0;}

/* 예매표 */
.inner-wrap{padding-top: 40px; padding-bottom: 100px; margin: 0 auto; width: 1100px; display: block;}
.main-wrap{border: 1px solid #d8d9db; border-top: 1px solid #222;}
.info-wrap{height:530px;}

/* 타이틀 */
.title{padding-bottom: 25px;}
.title-area .title{overflow: hidden;
    display: block;
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    color: #222;
    line-height: 38px;}

/* 날짜 */
.time-schedule{width: 100%; position: relative; height:39px; border-bottom: 1px solid #d8d9db} 
.time-schedule div{width: calc(100% - 60px); height: 100%; overflow: hidden; position: relative; margin: 0 auto;}
.time-schedule-slides{position: absolute; left:0; top:0; transition: left 0.2s ease-out;}
.time-schedule-slides li{float: left; width:70px; height:39px; background-color: transparent;}
.time-schedule-slides li button{font-weight: 400; height: 100%; width: 100%; padding: 1px 6px; position: relative;}
.time-schedule-slides li button.on{background-color: #f7f8f9; border-bottom: 2px solid #503396;}
.time-schedule-slides li button:hover{border-bottom: 2px solid #503396;}
.time-schedule-slides li .btn .day{display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 35px;}
.time-schedule-slides li .year-month{
    top: 0;
    width: 70px;
    height: 20px;
    line-height: 18px;
    margin-top: -10px;
    border-radius: 10px;
    z-index: 1;
    opacity: 1;
    border: 1px solid #d8d9db;
    display: block;
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: 0;
}


.controls{text-align: center;}
.controls span{position: absolute; top: 50%; transform: translateY(-50%); width:30px; height:39px; padding: 1px 6px; line-height: 39px; cursor: pointer;}
.time-schedule .controls span.prev{right: calc(100% - 30px);}
.time-schedule .controls span.next{left: calc(100% - 30px);}

/* 영화선택 */
.movie-choice{position: relative;
    float: left;
    width: 270px;
    height: 530px;
    padding: 0 20px 17px 20px;
    border-right: 1px solid #d8d9db;}

.list-area{
    position: relative;
    width: 100%;
    margin: 0;
}

/* 탭 버튼 공용 */
.menu-tab{display: flex; float: left;}

.menu-tab > button{
    display: block;
    left: 0;
    top: 0;
    height: 30px;
    color: #222;
    border: 1px solid #d9d8dd;
    border-bottom: 1px solid #666;;
    background-color: #fff;}

.menu-tab > button.active{
    border-color: #666;
    border-bottom: 0;}
/* 여기까지 */


.movie-list .menu-tab > button{width: 115px;}

.list{width: 100%;
    height: 320px;
    margin-top: 10px;
    display: inline-block;
    overflow: auto;
}

/* 버튼 공용 */
.list ul li button{display: block;
    position: relative;
    width: 100%;
    min-height: 28px;
    padding: 3px 30px 3px 30px;
    text-align: left;
    background-color: transparent;
    letter-spacing: 0;
    border: none;
}

.list ul li button span.movie-grade{
    position: absolute;
    left: 5px;
    top: 5px;
}

.list-area .list ul li button.on {
    color: #fff;
    font-weight: 400;
    background-color: #666;
}

/* 임시 동그라미 */
.circle{background-color: red;
    width:15px;
    height:15px;
    border-radius: 50px;}

/* 시간선택 */
.time-choice{float: left;
    width: 370px;
    height: 530px;
    padding: 0;
    border-right: 1px solid #d8d9db;
}

.time-choice .title{padding-left: 20px; float: left; width: auto;}

.time-choice .time-info{float: right; padding: 10px 20px 0 0;}

.hour-schedule{overflow: hidden;
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0;
    border-top: 1px solid #d8d9db;
    border-bottom: 1px solid #d8d9db;
}

.hour-schedule-slides li button{display: block;
    float: left;
    width: 35px;
    height: 30px;
    color: #444;
    font-weight: 400!important;}

.hour-schedule .wrap {
    overflow: hidden;
    position: relative;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    background-color: transparent;
}

.hour-schedule .wrap > div{    width: calc(100% - 100px);
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;}

.hour-schedule .controls span{overflow: hidden;
    display: block;
    position: absolute;
    line-height: 30px;
    width: 44px;
    height: 28px;}

.hour-schedule .controls span.prev{left: 20px;}

.hour-schedule .controls span.next{right: 20px;}

.hour-schedule-slides{position: absolute; left:0; top:0; transition: left 0.2s ease-out;}

.movie-schedule-area {
    overflow: hidden;
    height: 462px;
    background-color: #fff;
}

.movie-schedule-area .no-result{height: 100%;
    padding: 150px 0 0 0;
    text-align: center;}

.movie-schedule-area .result{height: 100%;
    padding: 0;
    text-align: center;
    overflow: auto;}

.movie-schedule-area .result ul{height: 100%;}

.movie-schedule-area .result ul li:first-child {
    border-top: 0;
}

.movie-schedule-area .result ul li:last-child {
    border-bottom: 1px solid #ebebeb;
}

.movie-schedule-area .result ul li {
    border-top: 1px solid #ebebeb;
}

.movie-schedule-area .result ul li .btn {
    overflow: hidden;
    display: flex;
    table-layout: fixed;
    width: 100%;
    padding: 0;
}

.movie-schedule-area .result ul li .btn.on{color: #444;
    background-color: #ebebeb;}

.movie-schedule-area .result ul li .btn .legend {
    width: 30px;
    height: 66px;
    padding: 10px 0 0 0;
    vertical-align: top;
}

.movie-schedule-area .result ul li .btn .time {
    width: 60px;
    padding: 10px 0;
    text-align: left;
    vertical-align: top;
    font-weight: 300;
    margin: auto 0;
}

.movie-schedule-area .result ul li .btn .time strong {
    display: inline-block;
    font-weight: 700;
}

.movie-schedule-area .result ul li .btn .time p {
    display: inline-block;
    padding: 3px 0 0 0;
    font-weight: 300;
}

.movie-schedule-area .result ul li .btn .title {
    width: 275px;
    padding: 10px 0;
    text-align: left;
    margin: auto 0 auto 20px;
}

.movie-schedule-area .result ul li .btn .title strong {
    display: inline-block;
    font-weight: 400;
    padding: 0 5px 0 0;
    /* line-height: 1.3; */
}

.movie-schedule-area .result ul li .btn .title p {
    display: block;
    padding-top: 7px;
    font-size: 11px;
}

.movie-schedule-area .result ul li .btn .info {
    width: 110px;
    padding: 0 5px 0 0;
    vertical-align: middle;
    text-align: right;
    margin: auto 0;
}

.movie-schedule-area .result ul li .btn .info .seat {
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 0;
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #f2f4f5;
}

.movie-schedule-area .result ul li .btn .info .seat .now {
    display: inline-block;
    color: #01738b;
    line-height: 20px;
    vertical-align: middle;
}

.movie-schedule-area .result ul li .btn .info .seat span {
    display: inline-block;
    margin-top: 4px;
    padding: 0;
    color: #666;
    line-height: 1.1;
    vertical-align: top;
}

.movie-schedule-area .result ul li .btn .info .seat .all {
    display: inline-block;
    color: #666;
    line-height: 20px;
    vertical-align: middle;
}

/* 뷰 영역 */
.choice-no{overflow: hidden;
    width: 100%;
    height: 90px;
    margin: 10px 0 0 0;
    padding: 25px 0 0 0;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #fff;}

.choice-no strong, .choice-no span{display: block;}

.view-area .choice-list{
    overflow: hidden;
    margin: 10px 0 0 0;
}

.view-area .choice-list .bg{
    overflow: hidden;
    float: left;
    width: 63px;
    height: 90px;
    background: url(https://img.megabox.co.kr/static/pc/images/reserve/bg-empty-cell.png) no-repeat center;
}

.view-area .choice-list .bg+.bg{
    margin-left: 20px;
}

.view-area .choice-list .bg .wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.view-area .choice-list .bg .wrap .img {
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
}

.view-area .choice-list .bg .wrap .img img {
    width: 100%;
    height: 100%;
}

.view-area .choice-list .bg .wrap .del {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
}

.movie-choice .view-area .choice-list .bg .wrap .del{
    background: url(https://img.megabox.co.kr/static/pc/images/reserve/btn-choice-dell.png) no-repeat 0 0;

}

/* 좌석 */
.seat-section{float: left;
    width: calc(100% - 640px);
    height: 530px;
    padding: 0;
}

.seat-section .title{padding-left: 20px; float: left; width: auto; }

.seat-section .reset{float: right; margin-right: 20px; margin-top: 3px;}

#seatMemberCntInit{color: #444;
    line-height: 36px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    height: 32px;
    padding: 0 12px;
}
    
.seat-area .no-result {
    height: 100%;
    padding: 150px 0 0 0;
    text-align: center;
}

.seat-section .seat-count{width: 100%;
    height: 30px;
    padding: 0;
    border-top: 1px solid #d8d9db;
    border-bottom: 1px solid #d8d9db;
}

.seat-section .seat-area {position: relative; height: 493px;}

.seat-section .seat-area .seat-count .cell {float: left;}

.seat-section .seat-area .seat-count .cell .txt {
    float: left;
    padding: 0 10px 0 0;
    line-height: 30px;
    margin-left: 20px;
}

.seat-section .seat-area .seat-count .cell .count {
    float: left;
    width: 86px;
    margin-top: 3px;
}

.seat-section .seat-area .seat-count .cell .count button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
}

.seat-section .seat-area .seat-count .cell .count .down {
    float: left;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.seat-section .seat-area .seat-count .cell .count .number {display: inline-block;}

.seat-section .seat-area .seat-count .cell .count .number .now {
    width: 38px;
    height: 24px;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.seat-section .seat-area .seat-count .cell .count .up {
    float: right;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

.seat-layout .inner-seat-layout{position: relative; width: 220px; margin: 0 auto;}

.seat-layout .inner-seat-layout .screen{width: 220px; height: 50px; background-color: #747474; margin-bottom: 30px; text-align: center; line-height: 50px;}

.seat-layout .inner-seat-layout:first-child{margin-top: 30px;}

.seat-layout .inner-seat-layout .row{height: 20px;}

.seat-layout .inner-seat-layout button{position: absolute;}

.btn-seat-row {
    overflow: hidden;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-color: #fff;
    left: 0;
    cursor: unset;
}

.seat-condition {
    overflow: hidden;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #fff;
}

.seat-condition.common {
    background-color: #747474;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-common.png);
}

.seat-condition.finish {
    background-color: #ccc!important;
    background-position: center 0;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-finish.png)!important;
}

.seat-result {bottom: 0; position: absolute; width: 100%; height: 230px; border: 1px solid #434343; background-color: #434343;}

.seat-result .choice-seat-area {
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 210px;
    float:left;
    border: 1px solid #999;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.seat-result .choice-seat-area .legend {
    float: left;
    width: calc(100% - 117px);
    padding: 10px 0 0 10px;
}

.seat-result .choice-seat-area .legend .list .seat-condition {
    width: 14px;
    height: 14px;
}

.seat-result .choice-seat-area .seat-num {
    float: right;
    width: 116px;
}

.seat-result .choice-seat-area .seat-num .tit {
    text-align: center;
    margin-top: 10px;
}

.seat-result .choice-seat-area .seat-num .my-seat {
    overflow: hidden;
    padding: 0 14px;
}

.seat-result .choice-seat-area .seat-num .my-seat .seat {
    display: block;
    float: left;
    width: 44px;
    height: 35px;
    margin: 7px 0 0 0;
    padding: 0;
    line-height: 32px;
    font-size: .9333em;
    border: 1px solid #5c5c5c;
    text-align: center;
    font-family: Roboto,Dotum,'돋움',sans-serif;
    font-weight: 300;
}

.seat-result .pay-wrap {
    width: 195px;
    height: 228px;
    float: right;
    position: relative;
}

.seat-result .pay-area .count {
    overflow: hidden;
}

.seat-result .pay-area .pay {
    overflow: hidden;
    padding: 80px 0 0 20px;
}

.seat-result .pay-area .pay .tit {
    line-height: 35px;
}

.seat-result .pay-area .pay .money {
    right: 0;
    position: absolute;
    padding-right: 20px;
}

.seat-result .pay-area .pay .money p {
    display: inline-block;
    line-height: 35px;
    color: #59bec9;
    font-weight: 400;
}

.seat-result .pay-area .pay .money span {
    padding: 0 0 0 5px;
    line-height: 35px;
}

.seat-result .pay-wrap .btn-group {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.seat-result .btn-group .button {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #fff!important;
    border: 0;
    border-radius: 0;
    background-color: #53565b;
    text-decoration: none;
}

.seat-result .btn-group .button.disabled {
    color: #aaa!important;
    background-color: #434547;
    cursor: default;
}