.on {display:block;}
.right{float:right;}
.left{float:left;}
.red{color:red;}

.button{
	all:"unset";
	width:80px;
	height:40px;
	border:1px solid;
	border-radius:12px;
	background-color:#7aa5d2; 
	color:white;
	font-weight:bold;
	font-size:12px;
}
.req:before {
  content: '*';
  color: red;
  font-size: 16px;
}

.header li, .header a, .header ul, .header button{
	all:unset;
	cursor:pointer;
}

.header{
	background-color:#7aa5d2; 
	color:white;
}
.header a:visited{
	color:white;
}
.header .img{
	text-align:center;
	height:106.5px;
}
.header .img > a > img{
	width:300px; 
	height:106.5px;
}
.header .gnb {
    position:relative;
    height:30px;
    margin:0 auto;
    padding-top:5px;
    padding-right:20px;
}
.header .nav{
	font-size:30px;
}
.header .nav .navList{
	padding-bottom:5px;
	text-align:center;
}
.header .nav .navList > ul > li > a{
	position:relative;
	left:-28px;
	margin:10px;
}
.header .nav .navList > button{
	float:left; 
}
.header .nav .navList > button > img{
	width:20px;
	padding:15px;
}


.loginContents {
	position:relative;
	left:50%;
	transform:translate(-50%);
	text-align:center;
	width:450px;
	height:300px;
	border:2px solid;
}
.loginContents a{
	all:unset;
	color:gray;
	cursor:pointer;
}
.loginContents button{
	all:"unset";
	width:430px;
	height:40px;
	border:1px solid;
	background-color:#7aa5d2; 
	color:white;
	font-size:18px;
}
.loginContents .inputBox{
	position:relative;
	right:10%;
	margin:10px;
	text-align:right;
}
.loginContents .inputBox > input {
	width:300px;
	height:30px;
}
.joinContents {
	position:relative;
	left:50%;
	transform:translate(-50%);
	text-align:center;
}
.joinContents button{
	all:"unset";
	width:470px;
	height:40px;
	margin-top:10px;
	border:1px solid;
	background-color:#7aa5d2; 
	color:white;
	font-size:18px;
}
.joinContents .inputBox{
	position:relative;
	right:31%;
	padding:5px;
	margin:6px;
	text-align:right;
}
.joinContents .inputBox > input {
	width:370px;
	height:30px;
}
.joinContents .loginSrch{
	color:gray;
}
.joinContents .warning{
	display:block;
	color:red;
}

.myInfoContents{
  width:1048px;
  height:200px;
  position: relative;
  left:50%;
  padding:30px;
  transform:translate(-50%);
}
.myInfoContents table{
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  font-size: 18px;
}
.myInfoContents th{
  width:200px;
  height: 50px;
  color: white;
  background-color: #7aa5d2;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
}
.myInfoContents td{
  max-width:300px;
  height:50px;
  border-collapse:collapse;
  border:solid 0.1px #d7d7d7;
  padding-left:10px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.myInfoContents a{
  all:unset;
  width:130px;
  height:30px;
  background-color:#7aa5d2;
  color:white;
  position:relative;
  margin:20px 5px 20px 5px;
  padding-top:7px;
  float:right;
  text-align:center;
  cursor: pointer;
}
.myInfoModifyContents{
  padding:30px;
  text-align:center;
}
.myInfoModifyContents table{
  position: relative;
  left:50%;
  transform:translate(-50%);
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  margin-top:5px;
  font-size: 18px;
}
.myInfoModifyContents th{
  width:200px;
  height: 50px;
  color: white;
  background-color: #7aa5d2;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
}
.myInfoModifyContents td{
  max-width : 300px;
  height: 50px;
  border-collapse : collapse;
  border : solid 0.1px #d7d7d7;
  padding-left : 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.myInfoModifyContents button{
  all:unset;
  width:130px;
  height: 30px;
  background-color: #7aa5d2;
  color:white;
  margin: 20px 5px 20px 5px;
  padding :4px;
  cursor: pointer;
}
.myInfoModifyContents input{
  margin : 5px;
  width:260px;
  height:30px;
  font-size:18px;
}
#idSearchMsg{
  display:none;
  position: relative;
  left:50%;
  transform:translate(-50%);
  width:750px;
  height:50px;
  font-size:32px;
}
#pwdSearchMsg{
  display:none;
  position: relative;
  left:50%;
  transform:translate(-50%);
  font-size:32px;
}