<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdis.demo.dao.AdminManageDao">
	
	<!-- 모든 회원 -->
	<select id="showAllUser" resultType="com.kdis.demo.vo.UserVo" parameterType="com.kdis.demo.vo.PaginationDto">
		select *
		from user
		where grade=1
		<if test="keyword != ''">
			and ${option} like CONCAT('%', #{keyword}, '%')
		</if>	
		order by regDt desc
		limit #{startIdx},#{cntPerPage}
	</select>
	
	<!-- 페이지  -->
	<select  id="countTotal" resultType="int" parameterType="com.kdis.demo.vo.PaginationDto">
		select count(*)
		from user
		where grade=1
		<if test="keyword != ''">
			and ${option} like CONCAT('%', #{keyword}, '%')
		</if>
	</select>
	


</mapper>